
.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
    width: 100%;
}
.ui.large.input {
    font-size: 1.14285714em;
}
.ui.input {
    font-size: 1em;
}
.ui.input {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0,0,0,.87);
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    width: auto;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

#pam_store_location .col {
    float: left;
    max-width: 380px;
}
#map{
    margin-top:0 !important;
}
.active{
    background-color: #007e5b !important;
}
.ui.button, .dot.circle.icon {
    background-color: #08afaf  !important;
    color: white;

}
.bg-dark-custom {
    background-color: #00181c!important;
}
.ui.segment{
    background:#00181c; 
}
.ui.large.form{
    margin-top:15px;
    padding:10px;
}

.left-col{
    padding-left:25px;
    padding-right:0;
}
.padding0{
    padding:0 !important;
}
.ui.icon.input>i.icon{
    opacity: .8 !important;
}
.locations .content {
    background: #00181c;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}
.my-3 {
    margin-top: 14px !important;
    margin-bottom: 0px !IMPORTANT;
}

.mt-2 {
    margin-top: 20px;
}


.bg-white {
    background: white;
}

.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.table--heading {
    padding: 0 30px;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: #6a727a;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.2rem;
    background-color: #f1f1f1;
    
}

.products__list__heading {
    -ms-grid-columns: 80px 1fr 140px 120px 100px;
    grid-template-columns: 50px 0.2fr 0.4fr 0.4fr 120px;
}

.products__list p.table--items--col2 {
    padding-right: 33px;
}
.error-border{
   
    border-color:red !important;
}
.errorMessage{
    color:red;

}
.table--items {
    padding: 10px 30px !important;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.6rem 0;
    color: #6a727a;
    background-color: #f1f1f1;
}

.products__list__item {
    border-bottom: 1px solid #e0e0e0;
    -ms-grid-columns: 80px 1fr 140px 120px 100px;
    grid-template-columns: 50px 0.2fr 0.4fr 0.4fr 120px;
}

.card {
    
    -webkit-box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
    box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
    border-radius: 4px;
}

.btn-icon {
    border: 1px solid #e0e0e0;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #6a727a;
    cursor: pointer;
}

.btn-icon-success:hover {
  
        background: rgb(47, 214, 111);
        color: white;
  
}
.btn-icon-danger:hover {
        background: crimson;
        color: white;
    
}


.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn-secondary {
    background: #FFF;
    color: black;
}
.btn {
    border: 1px solid #6a727a;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background:  #f1f1f1;
    color: #6a727a;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 30px;
}









div#pam_store_location {
    float: left;
    width: 100%;
}


.products__create__cardWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr minmax(auto, 290px);
    grid-template-columns: 1fr minmax(auto, 290px);
    grid-gap: 20px;
    color: #6a727a;
}

.card {
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
    box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
    border-radius: 4px;
}

.mb-1 {
    margin-bottom: 10px;
}

.input {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.map_holder{
	float:left;
	width:80%;
}
.textarea {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkbox-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mt-3 {
    margin-top: 30px;
}

.products__create__main--pricing--col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.inputAdd {
    padding: 9px 15px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
}

.inputAdd__Btn {
    background: #5463c1;
    color: white;
    border-top: 1px solid #5463c1;
    border-right: 1px solid #5463c1;
    border-bottom: 1px solid #5463c1;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 9px 15px;
    cursor: pointer;
}

.inputSelect {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
    color: #454f5b;
    min-width: 200px;
}

.products__create__main--media--images--item--form {
    border: 2px dashed #6a727a;
    position: relative;
    cursor: pointer;
}
.products__create__main--media--images--item h4 {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 3px 0px;
    margin-bottom: 10px;
}
.products__create__main--media--form {
    border: 2px dashed #6a727a;
    position: relative;
    cursor: pointer;
}



.products__create__main--media--images--list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.list-unstyled {
    list-style: none;
}

.products__create__main--media--images--item {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.products__create__main--media--images--item--imgWrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 117px;
}

.products__create__main--media--images--item--img {
    width: auto;
    height: 55px;
    -o-object-fit: cover;
    object-fit: cover;
}

.products__create__main--media--images--item--form--label {
    padding: 9px 15px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.products__create__main--media--images--item--form--input {
    height: 100px;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.field_box p{
    margin-bottom:0;
}
.custom-location-text h2{
    margin-bottom: 4px;
}
.custom-location-text p{
    margin-bottom:10px;
}
.error_route{
    display: none;
}
.text-danger {
    color: #dc3545!important;
    display: unset !important;
}
.ui.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.ui.segment:last-child {
    margin-bottom: 0;
}
.ui.segment:first-child {
    margin-top: 0;
}
.ui.segment {
    background: #00181c;
}
.ui.segment, .ui.segments .segment {
    font-size: 1rem;
}
.ui.form .field {
    clear: both;
    margin: 0 0 1em;
}
@media (max-width:767px) {
    .products__create__cardWrapper, .products__edit__cardWrapper{
        display: block;
        width:100%;
    }
    .products__create {
        padding: 10px;
    }
    .products__edit {
        padding: 10px;
    }
    ul.navbar-nav {
        display: inline-block !important;
        width: auto !important;
        text-align: center  !important;
    }
}

.map-holder{
    height:calc(100vh - 43px);
}
.locations{
  height: calc(100vh - 288px);
overflow-x: hidden;
overflow-y: scroll;
margin-right: -10px;
border: 1px solid rgba(0,0,0,.4); 
}
.col.side {
padding-left: 25px;
max-width: 504px;
padding-right: 0;
}
.locations img{
  border-top-left-radius: 10px;
  overflow: hidden;
  border-bottom-right-radius: 10px;
}
.custom-img-box{
  float:left;
}
.custom-location-text{
  display: inline-block;
  width: 65%;
  padding-left: 10px;
}
.dealer-buttons{
  display: inline-block;
 width:100%;
 margin:10px 0 0 0; 
}
.dealer-buttons .ui.button{
 margin-right:10px;
}
.map-parent {
position: relative;
}
.route_details {
position: absolute;
z-index: 9;
width: 350px;
padding: 10px;
background: #00181ceb;
right: 10px;
top: 65px;
color:#fff;
display: none;
}
.distance{
width:100%;
text-align:center;
}
.route_details p{
font-size: 14px;
}
.route_details p strong{
color: #00dfdf;  
}
.distance>span {
width: auto;
background: #008f8f;
color: white;
text-align: center;
margin-right: 10px;
display: inline-block;
padding: 2px 10px;
font-size: 15px;
margin-top: 5px;
}
.route_details hr{
background:rgba(255,255,255,.3)
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
display:none;
}
.gmnoprint div {
background:none !important;
}
@media(max-width:767px){
.flex_remove{
display: block !important;
}
.col.side {
width:100%;
padding:0 20px;
}
.locations {
height: 245px;
overflow-x: hidden;
overflow-y: scroll;
margin-right: 0;
border: 1px solid rgba(0,0,0,.4);
margin-bottom: 16px;
}
.map-holder {
height: 280px;
}
.route_details {
position: absolute;
z-index: 9;
width: 95%;
padding: 10px;
background: #00181ceb;
right: 2.5%;
top: auto;

bottom: 0;
}
.dealer-buttons .ui.button {
margin-right: 2px;
font-size: 12px;
}
}
#map{
    min-height: 750px;
}